

<div class="masthead">
<div class="language-nav">
    <ul>
<li>CSS </li>
<li>HTML </li>
<li>Javascript </li>
<li>Ruby</li>

    </ul>






</div>
<img src="assets/AA_Times_Logo.png" alt="AA Logo" class = "logo">

<div class="masthead-links">
    <ul>
<li>
Tuesday, October 18, 2016
    
</li>
<li>
<a href="#">Today’s Paper</a>

</li>

<li>
<a href="#">Video</a>

</li>
<li>
77°F
AAO +100%

</li>

    </ul>



</div>
</div>