

<div class="masthead">
<div class="language-nav">
CSS 
HTML 
Javascript 
Ruby


</div>
<img src="assets/AA_Times_Logo.png" alt="AA Logo">

<div class="masthead-links">
Tuesday, October 18, 2016
<ul><li><a href="">Today’s Paper</a></li>
<li>Video</li></ul>
77°F
AAO +100%

</div>
</div>